<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="Ntersol_logo.png">
</head>

<body>
    <section>
        <nav>
            <a href="#">NTERSOL</a>
            <a href="#">About Us</a>
            <a href="#">Jobs</a>
            <a href="#">Why Ntersol</a>
            <a href="#">Register</a>
        </nav>
        <div class="header">
        </div>
        <div class="application">
            <h1>Thank you %email_addr_first%</h1>
            <h2>We received your application</h2>
            <p>We will keep you posted on next steps!</p>
            <p>Don't call us, we'll call you.</p>
            <p>Check out our other job openings below.</p>
            <button type="button" class="other-job-btn"> Other Job Openings </button>
        </div>
        <div class="image">
            <img src="https://images.unsplash.com/photo-1582653291997-079a1c04e5a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                alt="Conference Room Logo">
        </div>
        <div class="body">
            <h1>What you can expect <br> working at Ntersol</h1>
            <p>Making %big_money% per year.
            <p>
            <p>Changing the landscape of today's technological</p>
            <p>horizon</p>
        </div>
        <div class="footer">
            <h1>Positions Open:</h1>
            <p>%open_position%
            <p>
            <p>%open_position%
            <p>
            <p>%open_position%
            <p>
            <p>%open_position%
            <p>
        </div>
    </section>
</body>

</html>