/* This is the CSS file for the home template. */
/* navigation bar section */
nav {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 9999;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
nav a {
    color: #ff7b00;
    margin-right: 40px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover {
    background-color: #ff7b00;
    color: #0400ff;
}
/* landing section */
.landing {
    height: 100vh;
    background-image: url('landing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.landing .welcome {
    background-color: #ff7b00;
    padding: 20px;
    /* center the text */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    /* style the font */
    color: white;
    text-align: center;
    font-size: 15px;
    /* border */
    border: 2px solid black;
}

/* body section */
body {
    /*display: block;
    margin: 0px;*/
    font-family: Arial, sans-serif;
    background-image: url("../images/landing.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div
{
    vertical-align: center;
    width: 30%;
}

.formInside
{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ourForm
{
    height: 500pt;
    width: 500pt;
}

h1
{
    color: black;
    font-size:30pt;
    font: sans-serif;
    text-align: center;
}

h2
{
    color: black;
    font-size:20pt;
    font: sans-serif;
    text-align: center;
}

table {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  padding: 8px;
}

tr:nth-child(even){background-color: grey;}

tr:hover {background-color: lightblue;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: maroon;
  color: white;
}
