<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link styles.css -->
    <link rel="stylesheet" href="styles.css">
    <!-- link shortcut icon-->
    <link rel="shortcut icon" href="Ntersol_logo.png">
    <!-- link script.js -->
    <script src="script.js"></script>
    <title>Home</title>
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <a href="#">NTERSOL</a>
        <a href="home.html">Home</a>
        <a href="#">Forms</a>
        <a href="#">Email Log</a>
        <a href="#">Account</a>
    </nav>
    <!-- landing section-->
    <section class="landing" id="landing">
        <div class="welcome">
            <h1>Welcome to NTERSOL</h1>
            <h2>Emailing Notification System</h2>
        </div>
    </section>
    <!-- main Section -->
    <section ckass="main">

    </section>
</body>

</html>